<h1>プロフィール編集</h1>

<%= form_with(model: @user, url: profile_path, method: :patch) do |f| %>
  <%# エラーメッセージの表示エリア %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがありました:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# 名前の入力欄 %>
  <div class="field" style="margin-bottom: 15px;">
    <%= f.label :name, "ニックネーム" %><br>
    <%= f.text_field :name %>
  </div>

  <%# 自己紹介の入力欄 %>
  <div class="field" style="margin-bottom: 15px;">
    <%= f.label :bio, "自己紹介" %><br>
    <%= f.text_area :bio, rows: 5, placeholder: "あなたのことを教えてください" %>
  </div>

  <%# 更新ボタン %>
  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<hr style="margin: 20px 0;">
<%= link_to 'マイページに戻る', user_path(current_user) %>