<h1>タイムライン</h1>
<div class="timeline-links">
 <storng><%= link_to "すべて", timeline_path %></storng>
 <storng><%= link_to "日報", timeline_path(type: '日報') %></storng>
 <storng><%= link_to "つぶやき", timeline_path(type: 'つぶやき') %></storng>
</div>

<%# --- キャラクター応援エリア --- %>
<% if @character.present? %>
  <div class="character-cheer">
    <h4><%= @character.name %>からの応援メッセージ</h4>
    <%= image_tag @character.image_url, alt: @character.name, width: 100 %>
    <p class="cheer-message"><%= @character.cheer_message %></p>
  </div>
<% end %>

<hr>

<p>
  <% if user_signed_in? %>
    <strong><%= link_to "新しい投稿を作成する", new_post_path %></strong>
    <div class="posts-list">
   <% if @posts.any? %>
      <%# render @posts で、@postsの要素を一つずつ_post.html.erbで描画してくれる %>
      <%= render @posts %>
    <% else %>
      <p>まだ投稿がありません。最初の投稿をしてみましょう！</p>
    <% end %>
    </div>
  <% end %>
</p>

<hr>

<%# --- 投稿一覧エリア --- %>
