<h1>タイムライン</h1>

<p>
  <% if user_signed_in? %>
    <%= link_to "新しい投稿を作成する", new_post_path %>
  <% end %>
</p>

<hr>

<% if @posts.any? %>
  <% # 投稿がある場合、ループで一つずつ表示 %>
  <% @posts.each do |post| %>
    <div class="post">
      <p>
        <strong><%= post.user.name %></strong>
        <span style="color: #888; font-size: 0.9em;">
          <%= time_ago_in_words(post.created_at) %>
        </span>
      </p>
      <p>
        <%= simple_format(post.content) %>
      </p>
      <!-- 編集ボタンを追加 -->
      <% if post.user == current_user %>
        <%= link_to '編集', edit_post_path(post), class: "btn btn-primary" %>
        <%= link_to '削除', post_path(post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
      <% end %>
       <%= link_to '詳細', post_path(post), class: "btn btn-primary" %>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>まだ投稿がありません。最初の投稿をしてみましょう！</p>
<% end %>